#full_width_main_panel {
    width: 100%
}

.center-row {
    justify-content: center;
}

.center-text {
    text-align: center;
}

.no-margin-top {
    margin-top: 0
}

.no-margin-bottom {
    margin-bottom: 0
}

.basic-tooltip {
    background: white;
    color: inherit;
    font-size: inherit;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
    padding: 5px 9px;
}

.inside-basic-tooltip {
    white-space: pre; display: flex; align-items: center;
}

.tooltip-colorblock {
    display: block; width: 12px; height: 12px; margin-right: 7px;
}

.switch-label {
    margin-left: 5px;
    font-size: 20px;
}

.greentext {
    color: green !important;
}

.redtext {
    color: red !important;
}